<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ibaixin.chat.api.dao.RosterOpenfireDao">
    <resultMap type="User" id="usermap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
	</resultMap>
	
    <select id="getRosters" parameterType="java.lang.String" resultType="java.lang.String">
        select jid from ofroster where username = #{username}
    </select>
    
</mapper>