<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ibaixin.chat.api.dao.VcardDao">
    
    <resultMap type="Vcard" id="vcardResultMap">
        <id column="username" property="username"/>
        <result column="nickName" property="nickName"/>
        <result column="realName" property="realName"/>
        <result column="country" property="country"/>
        <result column="countryId" property="countryId"/>
        <result column="province" property="province"/>
        <result column="provinceId" property="provinceId"/>
        <result column="city" property="city"/>
        <result column="cityId" property="cityId"/>
        <result column="street" property="street"/>
        <result column="mobilePhone" property="mobilePhone"/>
        <result column="telephone" property="telephone"/>
        <result column="avatarPath" property="avatarPath"/>
        <result column="mimeType" property="mimeType"/>
        <result column="gender" property="gender" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="signature" property="signature"/>
        <result column="hash" property="hash"/>
    </resultMap>
    
    <parameterMap type="Vcard" id="vcardParameterMap">
        <parameter property="username" />
        <parameter property="nickName" />
        <parameter property="realName" />
        <parameter property="country" />
        <parameter property="countryId" />
        <parameter property="province" />
        <parameter property="provinceId" />
        <parameter property="city" />
        <parameter property="cityId" />
        <parameter property="street" />
        <parameter property="mobilePhone" />
        <parameter property="telephone" />
        <parameter property="avatarPath" />
        <parameter property="mimeType" />
        <parameter property="gender" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <parameter property="signature" />
        <parameter property="hash" />
    </parameterMap>
    
	<select id="getVcard" resultMap="vcardResultMap" parameterType="java.lang.String">
		select * from t_vcard where username = #{username}
	</select>
	
	<select id="getMoblePhone" resultType="java.lang.String" parameterType="java.lang.String">
		select mobilePhone from t_vcard where username = #{username}
	</select>
	
	<select id="getTelephone" resultType="java.lang.String" parameterType="java.lang.String">
		select telephone from t_vcard where username = #{username}
	</select>
	
	<select id="getVcardCountById" resultType="java.lang.Long" parameterType="java.lang.String">
		select count(*) from t_vcard where username = #{username}
	</select>
	
	<insert id="addVcard" parameterMap="vcardParameterMap">
	    insert into t_vcard values (#{username}, #{nickName}, #{realName}, #{country}, #{province}, #{city}, #{street}, #{mobilePhone}, #{telephone}, #{avatarPath}, #{mimeType}, #{gender.value}, #{signature}, #{hash}, #{countryId}, #{provinceId}, #{cityId})
	</insert>
	
	<delete id="deleteVcard" parameterType="java.lang.String">
	    delete from t_vcard where username = #{username}
	</delete>
	
	<delete id="deleteVcards"><!--  parameterType="java.lang.reflect.Array" -->
	    delete from t_vcard 
		<where>
	        username in 
	        <foreach collection="array" open="(" close=")" separator="," item="uid" index="index">
	            #{uid}
	        </foreach>
	    </where>
	</delete>
	
	<update id="updateVcard" parameterMap="vcardParameterMap">
	    update t_vcard set nickName = #{nickName}, realName = #{realName}, country = #{country}, countryId = #{countryId}, province = #{province}, provinceId = #{provinceId}, city = #{city}, cityId = #{cityId}, street = #{street}, mobilePhone = #{mobilePhone}, telephone = #{telephone}, avatarPath = #{avatarPath}, mimeType = #{mimeType}, hash = #{hash}, gender = #{gender.value}, signature = #{signature} where username = #{username}
	</update>
	
	<update id="updateAvatar" parameterMap="vcardParameterMap">
	    update t_vcard set avatarPath = #{avatarPath}, mimeType = #{mimeType}, hash = #{hash} where username = #{username}
	</update>
	
	<select id="getAvatarPath" parameterType="java.lang.String" resultType="java.lang.String">
	    select avatarPath from t_vcard where username = #{username}
	</select>
	
	<select id="getAvatarInfo" parameterType="java.lang.String" resultMap="vcardResultMap">
	    select avatarPath, mimeType from t_vcard where username = #{username}
	</select>
	
	<update id="updateNickName" parameterMap="vcardParameterMap">
	    update t_vcard set nickName = #{nickName} where username = #{username}
	</update>
	
	<update id="updateGender" parameterMap="vcardParameterMap">
	    update t_vcard set gender = #{gender.value} where username = #{username}
	</update>
	
	<update id="updateAddress" parameterMap="vcardParameterMap">
	    update t_vcard set 
	    <if test="country != null and country != ''">
	        country = #{country}, 
	        countryId = #{countryId}, 
	    </if>
	    
	    province = #{province}, provinceId = #{provinceId}, city = #{city}, cityId = #{cityId}
	    
	    <if test="street != null and street != ''">
	        , street = #{street} 
	    </if>
	    
	    where username = #{username}
	</update>
	
	<update id="updateSignature" parameterMap="vcardParameterMap">
	    update t_vcard set signature = #{signature} where username = #{username}
	</update>
	
	<select id="getAvatarHash" parameterType="java.lang.String" resultType="java.lang.String">
	    select hash from t_vcard where username = #{username}
	</select>
	
	<select id="countVcardById" parameterType="java.lang.String" resultType="java.lang.Long">
	    select count(*) from t_vcard where username = #{username}
	</select>
	
	<select id="getVcards" parameterType="java.util.List" resultMap="vcardResultMap">
	    select username, hash, nickName, gender from t_vcard 
	    <where>
	        username in 
	        <foreach collection="list" open="(" close=")" separator="," item="uid" index="index">
	            #{uid}
	        </foreach>
	    </where>
	</select>
	
	<select id="getSimpleVcardByIds" resultMap="vcardResultMap">
	    select username, hash, nickName, mimeType from t_vcard 
	    <where>
	        username in 
	        <foreach collection="array" open="(" close=")" separator="," item="uid" index="index">
	            #{uid}
	        </foreach>
	    </where>
	</select>
	
	<select id="getVcardList" parameterType="java.util.Map" resultMap="vcardResultMap">
	    select * from t_vcard LIMIT #{offset}, #{limit};
	</select>
	
	<select id="getVcardListAll" resultMap="vcardResultMap">
	    select * from t_vcard;
	</select>
	
</mapper>